<div class="jumbotron"> 
    <h1 class="text-center">Endereços de {{usuario.nome}}</h1>
	
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<div class="row">
    <div class="col-md-12">
        <form>
            	<span class="input-group-btn">
					<a href="/#/pedidos/{{usuario._id}}" class="btn btn-primary btn-block">Ver Pedidos</a>
			    </span>
			    <span class="input-group-btn">
			    	<a href="/#/dadosUsuario/{{usuario._id}}" class="btn btn-primary btn-block">Dados de {{usuario.nome}}</a>
			    </span>
            </div>
        </form>
    </div><!-- fim col md 12 -->
</div><!-- fim row-->

<div class="row">                
    <div class="panel panel-default" ng-repeat="endereco in enderecos | filter: {rua: filtro}">
		<div class="panel-heading">
		<h3 class="panel-title text-center">{{endereco.rua}}</h3>
		</div>
		<div class="panel-body">
			<h2>Cidade: {{endereco.cidade}}</h2>
			<h2>Estado: {{endereco.estado}}</h2>
			<h2>País: {{endereco.pais}}</h2>
		</div>
	</div>
</div>